
@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h4 class="mt-1">Bảng lương cá nhân</h4>

        <div class="card mb-4">
            <div class="card-header">
            </div>

            <div class="card-body">
                <table id="datatablesSimple">
                    <thead style="color:#0d6efd ">
                        <tr>
                            <th>Tháng</th>
                            <th>Tiền lương</th>
                            <th>Trạng thái</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Tháng</th>
                            <th>Tiền lương</th>
                            <th>Trạng thái</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @item.month
                            </td>
                            <td>
                                @String.Format("{0:0,00}", item.salary) VND
                            </td>
                            <td>
                                @if (item.status == 0)
                                {
                                    <span>Chưa nhận</span>
                                }
                                else
                                {
                                    <span>Đã nhận</span>
                                }
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

